# Source code
@kiritigowda @rrawther
# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
# Header directory
library/include/* @ROCm/rocm-documentation @kiritigowda @rrawther
